body
{
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 10%);
    font-family: 'Trebuchet MS';
    zoom: 200%;
}
th, td
{
    margin: 2px;
    padding: 5px;
    text-align: center;
    border: 1px solid hsl(0, 0%, 0%);
}
th
{
    color: hsl(235, 100%, 30%);
    background-color: hsl(235, 50%, 80%);
}
td:nth-child(1)
{
    color: hsl(0, 100%, 30%);
    background-color: hsl(0, 50%, 70%);
}
table
{
    border-collapse: collapse;
}
.skill
{
    background-color: hsl(30, 50%, 80%);
}
.ads
{
    background-color: hsl(180, 50%, 80%);
}
.rdbms
{
    background-color: hsl(0, 30%, 80%);
}
.fai
{
    background-color: hsl(215, 100%, 87%);
}
.oop
{
    background-color: hsl(130, 50%, 80%);
}
.math
{
    background-color: hsl(30, 50%, 70%);
}