body
{
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 90%);
    font-family: 'Trebuchet MS', 'JetBrains Mono NL', 'Calibri';
}
section
{
    border: 4px groove hsl(135, 0%, 70%);
    padding: 20px;
}
section:hover
{
    background-color: hsl(0, 0%, 12%);
    transition-duration: 300ms;
}
table, th, td
{
    border: 1px solid hsl(0, 0%, 85%);
    border-collapse: collapse;
    padding: 10px;
    th
    {
        background-color: hsl(210, 70%, 20%);
    }
}
a
{
    color: hsl(210, 70%, 70%);
}
a:hover
{
    color: hsl(210, 100%, 50%);
    transition-duration: 300ms;
}
img
{
    margin: 20px 0px;
}
button
{
    border: 2px solid hsl(0, 0%, 15%);
    border-radius: 3px;
    height: 50px;
    width: 100px;
    font-family: 'Trebuchet MS';
    font-size: 140%;
}
button:hover
{
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 90%);
    transition-duration: 300ms;
    border: 2px solid hsl(0, 0%, 90%);
    border-radius: 20px;
}

@keyframes rainbowanimation
{
0% {background-color: hsl(0, 100%, 20%)}
1% {background-color: hsl(3.6, 100%, 20%)}
2% {background-color: hsl(7.2, 100%, 20%)}
3% {background-color: hsl(10.8, 100%, 20%)}
4% {background-color: hsl(14.4, 100%, 20%)}
5% {background-color: hsl(18, 100%, 20%)}
6% {background-color: hsl(21.6, 100%, 20%)}
7% {background-color: hsl(25.2, 100%, 20%)}
8% {background-color: hsl(28.8, 100%, 20%)}
9% {background-color: hsl(32.4, 100%, 20%)}
10% {background-color: hsl(36, 100%, 20%)}
11% {background-color: hsl(39.6, 100%, 20%)}
12% {background-color: hsl(43.2, 100%, 20%)}
13% {background-color: hsl(46.8, 100%, 20%)}
14% {background-color: hsl(50.4, 100%, 20%)}
15% {background-color: hsl(54, 100%, 20%)}
16% {background-color: hsl(57.6, 100%, 20%)}
17% {background-color: hsl(61.2, 100%, 20%)}
18% {background-color: hsl(64.8, 100%, 20%)}
19% {background-color: hsl(68.4, 100%, 20%)}
20% {background-color: hsl(72, 100%, 20%)}
21% {background-color: hsl(75.6, 100%, 20%)}
22% {background-color: hsl(79.2, 100%, 20%)}
23% {background-color: hsl(82.8, 100%, 20%)}
24% {background-color: hsl(86.4, 100%, 20%)}
25% {background-color: hsl(90, 100%, 20%)}
26% {background-color: hsl(93.6, 100%, 20%)}
27% {background-color: hsl(97.2, 100%, 20%)}
28% {background-color: hsl(100.8, 100%, 20%)}
29% {background-color: hsl(104.4, 100%, 20%)}
30% {background-color: hsl(108, 100%, 20%)}
31% {background-color: hsl(111.6, 100%, 20%)}
32% {background-color: hsl(115.2, 100%, 20%)}
33% {background-color: hsl(118.8, 100%, 20%)}
34% {background-color: hsl(122.4, 100%, 20%)}
35% {background-color: hsl(126, 100%, 20%)}
36% {background-color: hsl(129.6, 100%, 20%)}
37% {background-color: hsl(133.2, 100%, 20%)}
38% {background-color: hsl(136.8, 100%, 20%)}
39% {background-color: hsl(140.4, 100%, 20%)}
40% {background-color: hsl(144, 100%, 20%)}
41% {background-color: hsl(147.6, 100%, 20%)}
42% {background-color: hsl(151.2, 100%, 20%)}
43% {background-color: hsl(154.8, 100%, 20%)}
44% {background-color: hsl(158.4, 100%, 20%)}
45% {background-color: hsl(162, 100%, 20%)}
46% {background-color: hsl(165.6, 100%, 20%)}
47% {background-color: hsl(169.2, 100%, 20%)}
48% {background-color: hsl(172.8, 100%, 20%)}
49% {background-color: hsl(176.4, 100%, 20%)}
50% {background-color: hsl(180, 100%, 20%)}
51% {background-color: hsl(183.6, 100%, 20%)}
52% {background-color: hsl(187.2, 100%, 20%)}
53% {background-color: hsl(190.8, 100%, 20%)}
54% {background-color: hsl(194.4, 100%, 20%)}
55% {background-color: hsl(198, 100%, 20%)}
56% {background-color: hsl(201.6, 100%, 20%)}
57% {background-color: hsl(205.2, 100%, 20%)}
58% {background-color: hsl(208.8, 100%, 20%)}
59% {background-color: hsl(212.4, 100%, 20%)}
60% {background-color: hsl(216, 100%, 20%)}
61% {background-color: hsl(219.6, 100%, 20%)}
62% {background-color: hsl(223.2, 100%, 20%)}
63% {background-color: hsl(226.8, 100%, 20%)}
64% {background-color: hsl(230.4, 100%, 20%)}
65% {background-color: hsl(234, 100%, 20%)}
66% {background-color: hsl(237.6, 100%, 20%)}
67% {background-color: hsl(241.2, 100%, 20%)}
68% {background-color: hsl(244.8, 100%, 20%)}
69% {background-color: hsl(248.4, 100%, 20%)}
70% {background-color: hsl(252, 100%, 20%)}
71% {background-color: hsl(255.6, 100%, 20%)}
72% {background-color: hsl(259.2, 100%, 20%)}
73% {background-color: hsl(262.8, 100%, 20%)}
74% {background-color: hsl(266.4, 100%, 20%)}
75% {background-color: hsl(270, 100%, 20%)}
76% {background-color: hsl(273.6, 100%, 20%)}
77% {background-color: hsl(277.2, 100%, 20%)}
78% {background-color: hsl(280.8, 100%, 20%)}
79% {background-color: hsl(284.4, 100%, 20%)}
80% {background-color: hsl(288, 100%, 20%)}
81% {background-color: hsl(291.6, 100%, 20%)}
82% {background-color: hsl(295.2, 100%, 20%)}
83% {background-color: hsl(298.8, 100%, 20%)}
84% {background-color: hsl(302.4, 100%, 20%)}
85% {background-color: hsl(306, 100%, 20%)}
86% {background-color: hsl(309.6, 100%, 20%)}
87% {background-color: hsl(313.2, 100%, 20%)}
88% {background-color: hsl(316.8, 100%, 20%)}
89% {background-color: hsl(320.4, 100%, 20%)}
90% {background-color: hsl(324, 100%, 20%)}
91% {background-color: hsl(327.6, 100%, 20%)}
92% {background-color: hsl(331.2, 100%, 20%)}
93% {background-color: hsl(334.8, 100%, 20%)}
94% {background-color: hsl(338.4, 100%, 20%)}
95% {background-color: hsl(342, 100%, 20%)}
96% {background-color: hsl(345.6, 100%, 20%)}
97% {background-color: hsl(349.2, 100%, 20%)}
98% {background-color: hsl(352.8, 100%, 20%)}
99% {background-color: hsl(356.4, 100%, 20%)}
100% {background-color: hsl(360, 100%, 20%)}
}

.rainbow 
{
  animation: rainbowanimation 10s infinite;
}

.gridcon
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /*fraction*/
  grid-auto-rows: 200px;
  grid-auto-columns: 150px;
  gap: 50px;
}