html
{
    scroll-behavior: smooth;
}
body
{
    color: hsl(0, 0%, 90%);
    background-image: url('autumn.jpg');
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    font-family: 'JetBrains Mono NL', 'Trebuchet MS';
    font-size: 100%;
    line-height: 35px;
    zoom: 80%;
    a
    {
        color: hsl(25, 80%, 60%);
    }
    a:hover
    {
        color: hsl(30, 100%, 80%);
        transition-duration: 300ms; 
    }
}

.maincon
{
    background-color: hsl(0, 0%, 10%);
    padding: 10px;
    border: 5px groove hsl(25, 60%, 60%);
    border-radius: 10px;
    margin: 20px;
}
.maincon:hover
{
    background-color: hsl(0, 0%, 11.5%);
    color: hsl(0, 0%, 95%);
    font-size: 100.5%;
    border-color: hsl(25, 100%, 50%);
    border-radius: 5px;
    transition-duration: 300ms;
}

.flexadj
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
